@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cinzel Decorative';
  src: url('./assets/fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cinzel Decorative';
  src: url('./assets/fonts/Cinzel_Decorative/CinzelDecorative-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cinzel Decorative';
  src: url('./assets/fonts/Cinzel_Decorative/CinzelDecorative-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@layer base {
  * {
    font-family: 'Poppins', sans-serif;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}
